// global declarations
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  background-color: #fff;
  color: $default-text-color;
  display: table;
  font-family: 'Helvetica';
  font-size: percentage($default-font-size/16px);
  height: 100%;
  line-height: $default-line-height;
  padding-bottom: 4em;
  padding-top: 4em;
  margin: 0;
  width: 100%;
}

body.noselect {
  @include user-select(none);
}

.content {
  max-width: 1100px;
  margin: 0 auto;
}

.left { float: left; }
.right { float: right; }

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

.btn-default {
    background: $theme-color;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    @include transition (background-color ease-in-out 0.3s);

    &:hover {
      background: lighten($theme-color, 25);
    }
}
