<form class="m-editor" id="meme-editor-view">
  <div class="dropzone" id="dropzone">Drop a photo of yourself here</div>
  
  <h2><label for="image-scale">Resize image</label></h2>
  <input id="image-scale" type="range" max="4" min=".01" step=".01" value="1">

  <div class="info">
    <h3>What is this?</h3>
    <p>Follow the <a href="https://twitter.com/hashtag/iLookLikeAnEngineer?src=hash">#ILookLikeAnEngineer</a> hashtag on Twitter. Read about the backstory by Isis Anchalee <a href="http://www.buzzfeed.com/tamerragriffin/women-challenge-gender-stereotypes-with-ilooklikeanengineer?bftw&utm_term=4ldqpfp#.dn3eqJkNW">here</a>.</p>

    <h3>Contribute</h3>
    <p>Here is the <a href="https://github.com/alishalisha/ilooklikeanengineer">GitHub repo</a>. This project was 100% based on Vox Media's open-sourced <a href="https://github.com/voxmedia/meme">meme generator</a>.</p>
  </div>
</form>
