<form class="m-editor" id="meme-editor-view">
  <div class="dropzone" id="dropzone">Drop Image Here</div>
  <%= partial "partials/webcam" %>

  <h2><label for="image-scale">Resize image</label></h2>
  <input id="image-scale" type="range" max="4" min=".01" step=".01" value="1">

</form>
