<div class="m-webcam" id="webcam-view">
	<a href="#" class="btn-default" id="use-webcam">...or use webcam</a>
	<a href="#" class="btn-default hide" id="take-snapshot">Take a snapshot</a>
	<video autoplay="autoplay" id="webcam-preview"></video>
</div>
