$m: '.m-canvas';

#{$m} {
  @media screen and (min-width: 700px) {
    width: 70%;
  }

  #{$m}__canvas {
    background: #fcfcfc;

    canvas {
      max-width: 100% !important;
    }
  }

  #{$m}__download-note {
    color: #777;
    font-size: 12px;
    font-style: italic;
  }
}
